{# twig template #}
{% extends 'base.html.twig' %}

{% block page_title %}{{ 'Learn about Clean Gutter Company.' }}{% endblock %}
{% block page_meta_description %}{{ 'Learn about Clean Gutter Company.' }}{% endblock %}

{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_header_left %}
            {% include 'components/header/logo.html.twig' %}
        {% endblock %}

        {% block layout_header_middle %}{% endblock%}

        {% block layout_header_right %}
            {% include 'components/header/call-now.html.twig' %}
        {% endblock %}

        {% block layout_page_title %}We're Changing Gutter Cleaning Forever.{% endblock %}

        {% block layout_main_content %}
            <div class="col-12">
                <p>Did you know that every year, over 500,000 ladder-related injuries are treated in emergency rooms across the United States?</p>
                <p>That's a lot of falls! I mean, why take such a risk, just to clean a gutter?</p>

                <p>And while it's true they won't clean themselves, it doesn't require risking your neck. At least not anymore.</p>

                <p>Now you can hire a gutter cleaner that doesn't use ladders!</p>

                <p>If you haven't already seen, we use a <a class="text-link" href="" data-toggle="modal" data-target="#vacuum-vid-modal">specialized vacuum cleaner</a>, capable of sucking the scum right out of your gutters, without damaging your house, and without anyone having to climb on your home. We can reach up to three stories without ever leaving the ground!</p>

                <p>Doesn't that sound better?</p>

                <p>You see, we think you should be able to protect your investment in your home, without risking lawsuits, or damage to your property. It's why we do what we do.</p>

                <p>And as a veteran-owned business, you can rest assured that we put our best foot forward each and every day. You can count on us to provide top-notch service, and to treat you with the utmost respect and courtesy. It's my promise to you.</p>

                <p>So, what are you waiting for? <a class="text-link" href="tel:1-{{ company_phone | replace({'(': '', ') ': '-'}) }}">Give us a call</a>, and get your gutters cleaned - the better way!</p>

            </div>

        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}

    {% endembed %}

    {% include 'components/modals/vacuum-video.html.twig' %}

{% endblock %}