{# twig template #}
{% extends 'base.html.twig' %}

{% block page_title %}{{ 'Privacy Policy - Clean Gutter Co' }}{% endblock %}
{% block page_meta_description %}{{ 'Clean Gutter Company privacy policy.' }}{% endblock %}

{% block page_content %}

    {% embed 'layouts/right-sidebar.html.twig' %}

        {% block layout_page_title %}
            Your privacy is critically important to us.
        {% endblock %}

        {% block layout_main_content %}
            <div class="col-12">
                <h3>And we don't want you to worry about whether your personal data will be lost or stolen while doing business with us.</h3>

                <p>That's why we only save the minimum information required to provide you with great service, and we partner with known, reputable companies for services that we can't offer you directly. For example, we don't store your credit card details in our website - anywhere! We provide you with access to QuickBooks' payment portal, where you can safely, and securely pay your invoice, without fear of your data being lost or stolen.</p>

                <span class="font-weight-bold">Clean Gutter Co, LLC is located at:</span><br/>
                <address>
                    233 Long Leaf Trail<br />
                    Byron, GA 31008<br/>
                </address>

                <p>It is Clean Gutter Co, LLC's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a class="text-link" href="{{ path('home') }}">https://www.cleangutterco.com</a> (hereinafter, "us", "we", or "https://www.cleangutterco.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
                <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

                <h3>Website Visitors</h3>
                <p>Like most website operators, Clean Gutter Co, LLC collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Clean Gutter Co, LLC's purpose in collecting non-personally identifying information is to better understand how Clean Gutter Co, LLC's visitors use its website. From time to time, Clean Gutter Co, LLC may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
                <p>Clean Gutter Co, LLC also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://www.cleangutterco.com blog posts. Clean Gutter Co, LLC only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>

                <h3>Gathering of Personally-Identifying Information</h3>
                <p>Certain visitors to Clean Gutter Co, LLC's websites choose to interact with Clean Gutter Co, LLC in ways that require Clean Gutter Co, LLC to gather personally-identifying information. The amount and type of information that Clean Gutter Co, LLC gathers depends on the nature of the interaction. For example, we ask visitors request a quote at https://www.cleangutterco.com to provide an address and email address.</p>

                <h3>Security</h3>
                <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. Our website does employ TLS/SSL protection, which you can confirm by looking for the 'green padlock' next the website's address in your browser. This indicates that any information you share with us is encrypted before it is sent from your computer. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

{#                <h3>Advertisements</h3>#}
{#                <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Clean Gutter Co, LLC and does not cover the use of cookies by any advertisers.</p>#}

                <h3>Links To External Sites</h3>
                <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
                <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>



                <h3>Aggregated Statistics</h3>
                <p>Clean Gutter Co, LLC may collect statistics about the behavior of visitors to its website. Clean Gutter Co, LLC may display this information publicly or provide it to others. However, Clean Gutter Co, LLC does not disclose your personally-identifying information.</p>


                <h3>Cookies</h3>
                <p>To enrich and perfect your online experience, Clean Gutter Co, LLC uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
                <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Clean Gutter Co, LLC uses cookies to help Clean Gutter Co, LLC identify and track visitors, their usage of https://www.cleangutterco.com, and their website access preferences. Clean Gutter Co, LLC visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Clean Gutter Co, LLC's websites, with the drawback that certain features of Clean Gutter Co, LLC's websites may not function properly without the aid of cookies.</p>
                <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Clean Gutter Co, LLC's use of cookies.</p>

                <h3>E-commerce</h3>
                <p>Those who engage in transactions with Clean Gutter Co, LLC – by purchasing Clean Gutter Co, LLC's services or products, are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Clean Gutter Co, LLC collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Clean Gutter Co, LLC. Clean Gutter Co, LLC does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>

                <h3>Privacy Policy Changes</h3>
                <p>Although most changes are likely to be minor, Clean Gutter Co, LLC may change its Privacy Policy from time to time, and in Clean Gutter Co, LLC's sole discretion. Clean Gutter Co, LLC encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

                <h3>Credit & Contact Information</h3>
                <p>If you have questions regarding our use of your data, please <a class="text-link" href="{{ path('contact') }}">contact us</a>.</p>
                <p>The terms and conditions in this page were created using <a class="text-link" href="https://termsandconditionstemplate.com">www.termsandconditionstemplate.com</a> generator.</p>

            </div>

        {% endblock %}

        {% block layout_sbr %}
            {% include 'components/forms/quote-request.html.twig' %}
            <div class="w-100 mb-3"></div>
            {% include 'components/testimonials.html.twig' %}
        {% endblock %}

    {% endembed %}

{% endblock %}