{# twig template #}
<h3>Why choose us?</h3>
<ol>
    <li>
        <h6>Service</h6>
        <p>As a veteran-owned small business, we are ingrained with a sense of service and community that drives us to provide the best gutter-cleaning experience possible. We believe you should be able to trust the person who works on your home, and that the job should be done right.</p>
    </li>
    <li>
        <h6>Safety</h6>
        <p>Our vacuum system is equipped with 40' of ultra-light carbon-fiber tubing that lets us reach those high spots on your home, without get ladders out, or getting on your roof. It also features an HD camera that let's us see what we're doing while we work. We can visually inspect your gutters, without you worrying about someone falling off a ladder at your home.</p>
    </li>

    <li>
        <h6>Trust</h6>

    </li>
</ol>



<h3>Your home is an important investment.</h3>
<p>It's likely your mortgage represents significant portion of your monthly expenses. And with so much at stake, your home's maintenance needs cannot be ignored.</p>
<p>That's why you should hire Clean Gutter Company to maintain your homes gutters.</p>
<p>We are a friendly, professional, and local gutter cleaning company, happily servicing Byron, Fort Valley, Warner Robins, Perry, and Macon.</p>


<h3>Cleaning gutters alone is dangerous.</h3>
<p>There are over 160,000 ER visits each year in the United States due to ladder-related injuries. That's A LOT of ladder falls.</p>
<p>It's also one of the reasons we don't use them.</p>
<p>We use a specialized, high-powered vacuum to suck the leaves right out of your gutters and into an enclosed container.</p>

<h3>Why use ladders, when the technology exists to clean gutters safely from the ground?</h3>
<p>Like I said, it's a game-changer. This vacuum has three motors, and can pick up gobs of dirt from 3 stories up! You have to see it to believe it. Just check out this quick video. The vacuum has an on-board camera that allows our technician to watch what he's doing, live and recorded. Learn More.</p>



{#<p>Clean Gutter Co is owned and operated by military veteran and Central-Georgia native, Joe Daigle. Joe aims to provide the most cost-effective, yet highly innovative and professional gutter cleaning service in Central Georgia.</p>#}



{#<p>Our mission is to keep your home's gutters working properly, to ensure you don't experience any of the bad things that can happen when your gutters are clogged or dirty.</p>#}
            {#<ul>#}
                {#<li><strong>Insect infestations</strong></li>#}
                {#<li><strong>Leaks, flooding or foundation problems</strong></li>#}
                {#<li><strong>Rotting eaves or soffits</strong></li>#}
            {#</ul>#}