{# twig template #}
<a id="bbblink" class="rbhzbul footer-affiliate-logo" target="_blank"
   href="https://www.bbb.org/us/ga/byron/profile/gutter-cleaning/clean-gutter-0743-99136#bbbseal"
   title="Clean Gutter Co, LLC, Gutter Cleaning, Byron, GA"
   style="display: block;position: relative;overflow: hidden;"><img
            style="padding: 0px; border: none;" id="bbblinkimg"
            src="https://seal-centralgeorgia.bbb.org/logo/rbhzbul/clean-gutter-99136.png" alt="Better Business Bureau Membership Seal"/></a>