{# Maintenance Page #}
{% extends 'base.html.twig' %}

{% block main_content %}
    <p>Hi there! We're currently working on delivering a new and improved browsing experience, and have our site
    offline at the moment. Never fear! You can still reach us, and we'll still provide you with the excellent
    service you've come to trust and expect.</p>

    <p>You can reach us at: (478) 841-9797.</p>

{% endblock %}