{# twig template #}
<a class="text-link" href="tel:1-{{ company_phone | replace({'(': '', ') ': ''})}}">
    <table class="h-100 w-100 border-dashed border-danger p-2">
        <tbody class="p-2">
            <tr>
                <td class="align-bottom text-center w-100 text-danger"><span class="d-none d-md-inline">Call Now For A</span> FREE Quote</td>
            </tr>
            <tr>
                <td class="align-top text-center w-100 display-6 font-weight-bold text-danger text-nowrap">{{ company_phone }}
                </td>
            </tr>
        </tbody>
    </table>
</a>