{# twig template #}

<a href="{{ path('home') }}">
    <img id="logo" class="img-fluid" src="{{ asset('build/images/web-header-logo-bw-500X209.png') }}" alt="person cleaning gutters with vacuum" />
</a>